# Build
/build/
/app/build/
/app/release/
*.apk
*.aab

# IDE
.idea/
*.iml
.vscode/

# Kotlin errors
.kotlin/

# Gradle
.gradle/

# Misc
.opencode/
.claude/
docs/superpowers/

# Local
local.properties



/tools
